<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Index</title>

    <!-- CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Web-Gallery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Kezdőlap<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login">Bejelentkezés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Regisztráció</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <h1>Hello World</h1>

      <table class="table table-striped table-dark">
        <tbody>
          <tr>
            <td><img src="uploads/717c8912394f349abac18c5b60748810" alt="..." class="img-thumbnail"/></td>
            <td><img src="uploads/8b3f5c77bbc4fbe520812ea98367401c" alt="..." class="img-thumbnail"/></td>
            <td><img src="uploads/432dd4b7760bc31cfcc3d9ef5ec5eeeb" alt="..." class="img-thumbnail"/></td>
          </tr>
          <tr>
            <td><img src="uploads/3710114b43108ab76ed43165b4555501" alt="..." class="img-thumbnail"/></td>
            <td><img src="uploads/" alt="..." class="img-thumbnail"/></td>
            <td><img src="uploads/" alt="..." class="img-thumbnail"/></td>
          </tr>
          <tr>
            <td><img src="uploads/" alt="..." class="img-thumbnail"/></td>
            <td><img src="uploads/" alt="..." class="img-thumbnail"/></td>
            <td><img src="uploads/" alt="..." class="img-thumbnail"/></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
