<!DOCTYPE html>
<html>
    <head>
      <title>Login</title>
      <!--jquery betoltese-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <style>

      </style>
    </head>
    <body>
      <p>Bejelentkezés</p>

      <form>
        <div class="form-group">
          <label for="userName">Felhasználónév</label>
          <input type="user" class="form-control" id="User" placeholder="Felhasználónév">
        </div>
        <div class="form-group">
          <label for="password">Jelszó</label>
          <input type="password" class="form-control" id="Password" placeholder="Jelszó">
        </div>
        <input type="submit" class="btn btn-primary button" name="login" value="Bejelentkezés">
      </form>

    </body>
</html>
